/node_modules
/public/hot
/public/css
/public/js
/public/themes/l4m/css
/public/themes/l4m/js
/public/storage
/public/mix-manifest.json
/storage/*.key
/storage/app/public
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
/email/dist
