.showcase {
  background-color: rgba($theme-primary, .06);

  &_carousel {
    margin-left: -$column-paddings;
    margin-right: -$column-paddings;
    // outline clipping bugfix
    padding-top: 3px;
  }

  &_item {
    padding-left: $column-paddings;
    padding-right: $column-paddings;
    // display: inline-block;
    // width: 50%;
    // overflow: hidden;
    // font-size: initial;

    // @include media-breakpoint-up(md) {
    //   width: 33.3333%;
    // }

    // @include media-breakpoint-up(lg) {
    //   width: 25%;
    // }
  }
}