.cart {
  padding-top: 4 * $base-line;
  padding-bottom: 4 * $base-line;

  &_heading {
    font-family: $font-family-roboto;
    text-transform: uppercase;
    
    &--1 {
      font-size: $font-size-display-3;
    }
    
    &--2 {
      font-size: $font-size-display-4;
    }
  }

  &_secondary-text {
    text-transform: uppercase;
    color: $text-secondary-on-light;
  }

  &_header {
    margin-bottom: 2 * $base-line;
  }

  &_header-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
  }

  &_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    :first-child {
      margin-right: 2 * $base-line;
    }
  }

  &_coupon {
    display: flex;

    input[type="text"] {
      flex-grow: 1;
    }
  }

  &_list {
    margin-bottom: 4 * $base-line;
  }

  &_entry-column {
    padding-top: 2 * $base-line;
    padding-bottom: 2 * $base-line;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_table-row {
    display: flex;
    border-bottom: 1px solid $border-color-dark;

    &--header {
      font-size: 12px;
      font-weight: $font-weight-bold;
    }

    .cart_table-cell:nth-child(1) {
      width: 96px;
      flex-shrink: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .cart_table-cell:nth-child(2) {
      flex-grow: 1;
    }

    .cart_table-cell:nth-child(3) {
      width: 112px;
      flex-shrink: 0;
    }

    .cart_table-cell:nth-child(4) {
      width: 112px;
      flex-shrink: 0;
    }

    .cart_table-cell:nth-child(5) {
      width: 32px;
      padding-left: 0;
      padding-right: 0;
      flex-shrink: 0;
    }
  }

  &_table-cell {
    padding: 8px;
  }
}

.receipt {
  margin-bottom: 2 * $base-line;
  text-transform: uppercase;
  font-size: 12px;
  
  &_fraction {
    display: flex;
    height: 5 * $base-line;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color-dark;

    &:last-child {
      border: 0;
    }
  }

  &_key {
    color: $text-secondary-on-light;
  }
}
