.checkout {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.checkout-steps {
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 240px;
    flex-shrink: 0;
  }
}

.checkout-content {
  flex-grow: 1;
}

.checkout-box {
  position: relative;
  padding: 24px 16px 16px;

  p {
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  &_label {
    font-weight: $font-weight-bold;
    line-height: 1em;
    padding: 4px 8px;
    background-color: #FFF;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 16px;
    transform: translateY(-50%);
  }
}
