.hero {
  position: relative;

  &_image {
    padding-top: 42 * $base-line;

    img {
      height: 100%;
      width: auto;
    }
    
    @include media-breakpoint-up(lg) {
      // Height of ultra wide images
      padding-top: map-get($container-max-widths, lg) * (9/21);
    }
  }

  &--scrim::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    pointer-events: none;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }
}

.avatar {
  width: 152px;
  padding: 1px;
  background: linear-gradient(white, black);
  display: inline-block;
}

.client_hero {
  margin-bottom: 76px;
}

.client_profile {
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.client_profile-wrap {
  display: flex;
}

.client_info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.client_name {
  color: white;
  font-family: $font-family;
  font-size: 32px;
  margin: 0;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.client_nav {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 32px;
}

.client_nav-list {
  position: relative;
  display: flex;
  margin-left: -16px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: -1;
    background: $border-color-dark;
  }
}

.client_nav-link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: $font-weight-medium;
  padding: 8px 16px;
  border: 1px solid transparent;

  &.active {
    border-color: $border-color-dark;
    border-bottom-color: white;
  }
}

.client_products {
  text-align: center;
  margin-bottom: 32px;

  &--border {
    & + & {
      border-top: 1px solid $border-color-dark;
    }
  }
}

.client_showcase {
  padding-top: 16px;
  padding-bottom: 16px;
}

.client_brands {
  background-color: $theme-primary--light;
  padding-bottom: 32px;
}

.client_brand-list {
  display: flex;
  justify-content: center;
}
