.home {
  &_discover-more {
    background-color: $theme-primary--light;
    padding-bottom: 4 * $base-line;

    &_title {
      text-align: center;
      margin: 0;
      padding: (4 * $base-line) 0;
    }

    .with-trunk::before {
      background: linear-gradient(to right,
                rgba($theme-primary--light, 0),
                $theme-primary--light 80%);
    }
  }
}
