.product {
  margin-bottom: 4 * $base-line;

  &_details {
    @include media-breakpoint-up(lg) {
      padding-left: (4 * $base-line);
    }
  }

  &_name {
    font-family: $font-family;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    margin-top: 4 * $base-line;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  &_brand {
    color: $text-secondary-on-light;
  }

  &_price {
    color: $theme-secondary;
    font-size: 1.777em;
    margin: (4 * $base-line) 0;
  }

  &_description {
    margin-bottom: 4 * $base-line;
  }

  &_options {
    margin-bottom: 2 * $base-line;
    display: flex;
    justify-content: space-between;
  }

  &_actions {
    // display: flex;
    // align-items: center;
    max-width: 27 * $base-line;

    > * {
      margin-bottom: 2 * $base-line;
    }

    > :last-child() {
      margin-bottom: 0;
    }
  }

  &_social {
    margin: (2 * $base-line) 0 (4 * $base-line);
  }

  &_id {
    font-size: 12px;
    color: $text-secondary-on-light;
  }

  &_info {
    margin-top: 4 * $base-line;
  }
}