.product {
  margin-bottom: 4 * $base-line;

  &_details {
    @include media-breakpoint-up(lg) {
      padding-left: (4 * $base-line);
    }
  }

  &_name {
    font-family: $font-family;
    // font-weight: $font-weight-normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      font-size: 16px
    }
  }

  &_brand {
    color: $text-secondary-on-light;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }

  &_price {
    color: $theme-secondary;
    text-align: center;
    font-size: 14px;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      font-size: 16px;
      margin: $base-line 0;
      text-align: left;
    }

    span + span {
      margin-left: $base-line;
    }
  }

  &_options {
    margin-bottom: 2 * $base-line;
    display: flex;
    justify-content: space-between;
  }

  &_actions {
    display: flex;
    flex-direction: column;

    > * {
      margin-bottom: $base-line;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;

      > :last-child() {
        margin-left: 2 * $base-line;
      }
    }

  }

  &_description {
    margin-top: 2 * $base-line;
  }

  &_description-section {
    border-bottom: 1px solid $border-color-dark;
  }

  &_description-tab {
    display: flex;
    height: 42px;
    line-height: 42px;
    border: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    background-color: inherit;
    outline: none !important;

    svg.icon {
      transition: transform .12s;
    }

    &[aria-expanded="true"] svg.icon {
      transform: rotate(180deg);
    }
  }
  
  &_description-content {
    padding: 16px 0;
  }

  &_social {
    margin: (2 * $base-line) 0 (4 * $base-line);
  }

  &_id {
    font-size: 12px;
    color: $text-secondary-on-light;
  }

  &_info {
    margin-top: 4 * $base-line;
  }

  &_header {
    &--mobile {
      padding-top: $base-line;
      padding-bottom: $base-line;
      text-align: center;
    }
  }
}