.shop-title {
  text-align: center;
  text-transform: uppercase;
  padding: (3 * $base-line) 0; 
  margin: 0;
  line-height: 1;
}

.shop-header {
  position: relative;

  &_image {
    padding-top: 10 * $base-line;
    background-color: rgba($theme-primary, .12);

    @include media-breakpoint-down(sm) {
      img {
        height: 100%;
        width: auto;
      }
    }

    @include media-breakpoint-up(md) {
      padding-top: 18.367346938775512%;
    }
  }

  &_title {
    position: absolute;
    top: 50%;
    left: 4 * $base-line;
    transform: translateY(-50%);
    z-index: 1;
    margin: 0;
    color: $text-primary-on-light;

    .light-context & {
      color: $text-primary-on-dark;
      text-shadow: 0 1px 2px rgba(0,0,0,.3);
    }
  }
}

.shop-results {
  &_header {
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color-dark;
    margin: $base-line 0 (2*$base-line);
    
    @include media-breakpoint-up(md) {
      height: 28px;
    }
  }
}
  
.shop_sort {
  &-options {
    position: relative;
    display: inline-flex;

    @include media-breakpoint-down(sm) {
      width: 50%;
    }

    &:hover .shop_sort-options-wrap {
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  &-label {
    height: 42px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-weight: $font-weight-bold;

    @include media-breakpoint-down(sm) {
      border-left: 1px solid $border-color-dark;
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      margin-right: 16px;
      padding: 0;
      height: auto;
    }
  }

  &-options-wrap {
    position: absolute;
    top: 42px;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color-dark;
    z-index: 10;
    background-color: #FFF;

    @include media-breakpoint-down(sm) {
      opacity: 0;
      pointer-events: none;
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
      position: static;
      border: 0;
    }
  }

  &-option {
    padding: 12px $base-line;

    @include media-breakpoint-up(md) {
      padding: 0 $base-line;
      border-right: 1px solid $border-color-dark;
    }

    &:last-child {
      border: 0;
    }

    input[type="radio"] {
      width: 0;
      height: 0;
      opacity: 0;
      display: none;

      &:checked + label {
        font-weight: $font-weight-bold;
      }
    }

    label {
      position: relative;
      margin: 0;
      cursor: pointer;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $theme-secondary;
        content: "";
        opacity: 0;
      }
    }
  }
}

.shop_filter-btn {
  font-weight: $font-weight-bold;
  width: 50%;
  display: inline-flex;
  height: 42px;
  padding: 0 16px;
  align-items: center;
}