.accordion {
  &_pane {
    overflow: hidden;
    position: relative;
  }

  &_wrapper {
    overflow: hidden;
  }

  &_content {
    height: auto;
    transition: margin-top 235ms cubic-bezier(.4, 0, .2, 1);
  }
}
