.badge {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  color: #FAFAFA;
  background-color: #666;
  border-radius: 2px;

  &--pending {
    background-color: firebrick;
  }

  &--received {
    background-color: darkorange;
  }

  &--completed {
    background-color: olivedrab;
  }
}
