.blog-list-item {
  display: flex;
  color: $text-primary-on-light;
  outline: none;
  
  padding-top: $base-line;
  padding-bottom: $base-line;
  padding-right: 2 * $base-line;

  &:hover,
  &:focus {
    text-decoration:  none;

    .blog-list-item_title {
      text-decoration: underline;
    }
  }

  &_start-image {
    width: 14 * $base-line;
    margin-right: 3 * $base-line;
    flex-shrink: 0;
  }

  &_label {
    color: $theme-secondary;
    margin-bottom: $base-line;
  }

  &_title {
    height: 3em;
    overflow: hidden;
  }
}

.blog-tile {
  display: flex;
  flex-direction: column;

  &_content {
    margin-top: 3 * $base-line;

    p {
      max-height: 3 * 1.5em;
    }
  }

  &_title {
    a {
      &:hover,
      &:focus {
        text-decoration: underline;
        // outline: none;
      }
    }
  }

  &_label {
    margin-bottom: 3 * $base-line;
  }

  &_image {
    &:focus {
      outline: 3px solid lighten($theme-primary, 46%);
    }
  }

  &_categorie {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    background-color: $theme-secondary;
    color: $text-primary-on-secondary;
    font-size: 13px;
    padding: 2px 8px;
    min-width: 12 * $base-line;
    outline: none;

    &:focus {
      outline: 3px solid lighten($theme-secondary, 21%);
    }

    &:hover {
      text-decoration: none;
      color: $text-primary-on-secondary;
    }
  }

  &--horizontal {
    margin-bottom: $grid-gutter-width;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      padding-top: $grid-gutter-width;
      padding-bottom: $grid-gutter-width;
      margin-bottom: 0;
      border-bottom: 1px solid $border-color-dark;

      li:last-child & {
        border-bottom: 0;
      }

      .blog-tile_image {
        flex-shrink: 0;
        width: $column-width;
        margin-right: $grid-gutter-width;
      }

      .blog-tile_content {
        margin: 0;
      }
      
      &.blog-tile--reverse {
        flex-direction: row-reverse;

        .blog-tile_image {
          margin-right: 0;
          margin-left: $grid-gutter-width;
        }
      }
    }
  }
}