.blog-list-item {
  display: flex;
  
  padding-top: $base-line;
  padding-bottom: $base-line;
  padding-right: 2 * $base-line;

  &_start-image {
    width: 14 * $base-line;
    margin-right: 3 * $base-line;
    flex-shrink: 0;
  }

  &_label {
    color: $theme-secondary;
    margin-bottom: $base-line;
  }

  &_title {
    height: 3em;
    overflow: hidden;
  }
}

.blog-tile {
  display: flex;
  flex-direction: column;

  &--horizontal {
    margin-bottom: $grid-gutter-width;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      padding-top: $grid-gutter-width;
      padding-bottom: $grid-gutter-width;
      margin-bottom: 0;
      border-bottom: 1px solid $border-color-dark;

      .blog-tile_image {
        flex-shrink: 0;
        width: $column-width;
        margin-right: $grid-gutter-width;
      }
      
      &.blog-tile--reverse {
        flex-direction: row-reverse;

        .blog-tile_image {
          margin-right: 0;
          margin-left: $grid-gutter-width;
        }
      }
    }
  }
}