.blog-list-item {
  display: flex;
  color: $text-primary-on-light;
  outline: none;
  
  padding-top: $base-line;
  padding-bottom: $base-line;
  padding-right: 2 * $base-line;

  &:hover,
  &:focus {
    text-decoration:  none;

    .blog-list-item_title {
      text-decoration: underline;
    }
  }

  &_start-image {
    width: 14 * $base-line;
    min-width: 33.3333%;
    margin-right: 3 * $base-line;
    flex-shrink: 0;
  }

  &_label {
    color: $theme-secondary;
    margin-bottom: $base-line;
  }

  &_title {
    height: 3em;
    overflow: hidden;
  }
}

.blog-tile {
  display: flex;
  flex-direction: column;

  &_image {
    position: relative;
    
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      display: block;
      z-index: 1;
      background-color: rgba(0, 0, 0, .21);
      opacity: 0;
      transition: opacity .12s;
    }

    &:focus::after,
    &:hover::after {
      opacity: 1;
    }
  }

  &_content {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 3 * $base-line;

    p {
      line-height: 1.5em;
      max-height: 4 * 1.5em;
      min-height: 2 * 1.5rem;
    }
  }

  &_link {
    margin-top: auto;
    align-self: flex-start;
    text-transform: uppercase;
    color: $theme-secondary;

    &:hover,
    &:focus {
      color: $theme-secondary;
      text-decoration: underline;
    }
  }

  &_title {
    a {
      &:hover,
      &:focus {
        text-decoration: underline;
        // outline: none;
      }
    }
  }

  &_label {
    margin-bottom: 3 * $base-line;
  }

  &_image {
    &:focus {
      outline: 3px solid lighten($theme-primary, 46%);
    }
  }

  &_categorie {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    background-color: $theme-secondary;
    color: $text-primary-on-secondary;
    font-size: 13px;
    padding: 2px 8px;
    min-width: 12 * $base-line;
    outline: none;

    &:focus {
      outline: 3px solid lighten($theme-secondary, 21%);
    }

    &:hover {
      text-decoration: none;
      color: $text-primary-on-secondary;
    }
  }

  &--horizontal {
    margin-bottom: $grid-gutter-width;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      padding-top: $grid-gutter-width;
      padding-bottom: $grid-gutter-width;
      margin-bottom: 0;
      border-bottom: 1px solid $border-color-dark;

      li:last-child & {
        border-bottom: 0;
      }

      .blog-tile_image {
        flex-shrink: 0;
        width: $column-width;
        margin-right: $grid-gutter-width;
      }

      .blog-tile_content {
        margin: 0;
      }
      
      &.blog-tile--reverse {
        flex-direction: row-reverse;

        .blog-tile_image {
          margin-right: 0;
          margin-left: $grid-gutter-width;
        }
      }
    }
  }
}

.featured-tile {
  padding-bottom: 2 * $base-line;
  border-bottom: 1px solid $border-color-dark;
}