.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 (2 * $base-line);
  text-transform: uppercase;
  border: 0;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    background-color: rgba(255, 255, 255, .12);
    transition: opacity .12s;
  }

  &:hover::before,
  &:active::after {
    opacity: .5;
  }

  &--block {
    width: 100%;
  }

  &--primary {
    background-color: $theme-primary;
    color: $text-primary-on-primary;

    &:focus {
      outline: 3px solid lighten($theme-primary, 46%);
    }
  }

  &--secondary {
    background-color: $theme-secondary;
    color: $text-primary-on-secondary;

    &:focus {
      outline: 3px solid lighten($theme-secondary, 21%);
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $theme-primary;
    color: $theme-primary;

    &:focus {
      outline: 3px solid lighten($theme-primary, 46%);
    }

    &::before,
    &::after {
      background-color: rgba($theme-primary, .21);
    }
  }
}

.icon-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 0;
  background: none;
  cursor: pointer;

  .icon-btn:disabled {
    opacity: .38;
  }
}
