.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  font-size: 12px;
  text-transform: uppercase;
  border: 0;
  outline: none !important;
  padding: 0 (2 * $base-line);
  text-decoration: none !important;

  @include media-breakpoint-up(sm) {
    height: 36px;
  }

  &::after {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: currentColor;
    opacity: 0;
    will-change: opacity;
    transition: opacity .12s;
  }

  &:hover::after {
    opacity: .12;
  }

  &:focus::after {
    opacity: .21;
  }

  &:active::after {
    opacity: .3;
  }

  &--block {
    width: 100%;
  }

  &--primary {
    background-color: $theme-primary;
    color: $text-primary-on-primary !important;
  }

  &--secondary {
    background-color: $theme-secondary;
    color: $text-primary-on-secondary !important;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $theme-primary;
    color: $theme-primary !important;
  }
}

.icon-btn {
  font-size: 24px;
  line-height: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 0;
  background: none;
  cursor: pointer;
  color: inherit;
  outline: none !important;

  .icon-btn:disabled {
    opacity: .38;
  }

  &::after {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: currentColor;
    // border-radius: 50%;
    opacity: 0;
    will-change: opacity;
    transition: opacity .12s;
  }

  &:hover::after {
    opacity: .06;
  }

  &:focus::after {
    opacity: .12;
  }

  &:active::after {
    opacity: .21;
  }
}

[data-event] > * {
  pointer-events: none;
}