.carousel-ctrls {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  transform: translateX(-50%);
  z-index: 1;

  &_container {
    position: relative;
    height: 100%;
  }
}

.carousel-ctrl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border: 0;
  padding: 0;
  background-color: white;
  pointer-events: auto;

  .no-controls & {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  // hide controls on small devicees
  @include media-breakpoint-down(sm) {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  &:focus {
    outline: 3px solid rgba(255, 255, 255, .5);
  }

  &--prev {
    left: (2 * $base-line);
  }

  &--next {
    right: (2 * $base-line);
  }

  .arrow {
    color: $theme-primary;
  }
}