.simple-carousel-container {
  overflow: hidden;
}

.simple-carousel {
  white-space: nowrap;
  overflow-x: visible;
  will-change: transform;
  transform: translateX(0);
  font-size: 0;
}

.simple-carousel > div {
  display: inline-block;
  overflow: hidden;
  font-size: initial;
}
