.categorie-container {
  margin-bottom: $grid-gutter-width;
}

.categorie {
  display: grid;
  width: 100%;
  grid-gap: $grid-gutter-width;

  &--small {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--big {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.categorie_item {
  position: relative;
  text-decoration: none !important;

  &:focus {
    outline: 3px solid lighten($theme-primary, 46%);
  }

  &:focus,
  &:hover {
    .categorie_image > img {
      transform: translate(-50%, -50%) scale(1.12);
    }
  }
}

.categorie_image {
  padding-top: get-padding-from-ratio(6, 4);

  img {
    transition: transform .9s;
  }

  .categorie--small & {
    @include media-breakpoint-down(sm) {
      padding-top: 20 * $base-line;
    }
  }
}

.categorie_name {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 220px;
  padding: $base-line (2 * $base-line);
  transform: translate(-50%, -50%);
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: $theme-primary;
  color: $text-primary-on-primary;

  @include media-breakpoint-up(md) {
    transform: translate(0, 0);
    width: 100%;
    min-width: 0;
  }

  .categorie--small & {
    @include media-breakpoint-up(md) {
      position: static;
    }
  }

  .categorie--big & {
    @include media-breakpoint-up(md) {
      top: initial;
      left: 0;
      bottom: 0;
      font-size: $font-size-display-4;
    }
  }
}
