.counter {
  display: inline-flex;
  vertical-align: middle;

  &_control {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      background-color: rgba($theme-primary, .12);
      opacity: 0;
      transition: opacity .12s;
    }

    &:hover::before {
      opacity: 1;
    }

    &:focus {
      outline: 3px solid lighten($theme-primary, 46%);
    }

    &::after {
      position: absolute;
      top: 8.25px;
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      pointer-events: none;
    }

    &--decrement {
      &::after {
        left: 8.25px;
        border-right: 5.25px solid currentColor;
        border-top: 3.5px solid transparent;
        border-bottom: 3.5px solid transparent;
      }
    }

    &--increment {
      &::after {
        right: 8.25px;
        border-left: 5.25px solid currentColor;
        border-top: 3.5px solid transparent;
        border-bottom: 3.5px solid transparent;
      }
    }
  }

  &_value {
    height: 24px;
    width: 24px;
    text-align: center;
    border: 0;

    &:focus {
      outline: 3px solid lighten($theme-primary, 46%);
    }
  }
}