.filter {
  margin-bottom: 4 * $base-line;

  &_name {
    font-family: $font-family;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: $font-weight-normal;
    letter-spacing: .18em;
    margin-top: 0;
    margin-bottom: $base-line;
  }
}

// TODO Add custom scroll bar
.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 3 * 38px;
  overflow-y: scroll;

  &_item {
    display: flex;
    align-items: center;
    height: 38px;
  }
}