.filters-container {
  margin-bottom: 2 * $base-line;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.filters {
  &--has-loaded {
    animation: fade-in .21s;
  }

  &--loading {
    opacity: 0;
  }
}

.filter {
  margin-bottom: 4 * $base-line;

  &_name {
    font-family: $font-family;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: $font-weight-normal;
    letter-spacing: .18em;
    margin-top: 0;
    margin-bottom: 2 * $base-line;
  }
}

$filter-height: 28px;

.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 6 * $filter-height;

  &_item {
    display: flex;
    align-items: center;
    height: $filter-height;
  }
}