$inactive-color_: rgba(0, 0, 0, .54);
$active-color_: $theme-primary;

.checkbox {
  position: relative;
  display: inline-block;
  height: 23px;
  width: 23px;
  padding: 3px;
  
  &--sm {
    // transform: translateX(-5px) scale(.7058823529411765);
    // transform-origin: center center;
    height: 19px;
    width: 16px;
    padding: 3px 3px 3px 0;
  }

  &_control {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
    z-index: 1;

    &:focus ~ .checkbox_background {
      // outline: 3px solid lighten($theme-primary, 46%);
    }

    &:checked ~ .checkbox_background {
      border-color: $active-color_;
      background-color: $active-color_;

      .checkbox_checkmark {
        opacity: 1;
      }

      .checkbox_path {
        stroke-dashoffset: 0;
      }
    }

    &:hover ~ .checkbox_background {
      border-color: $active-color_;
    }
  }

  &_background {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 17px;
    width: 17px;
    border: 1px solid $inactive-color_;
    transition: background-color .12s ease-in;

    .checkbox--sm & {
      height: 13px;
      width: 13px;
      left: 0;
    }
  }

  &_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .12s ease-in;
  }

  &_path {
    stroke: #FFF !important;
    stroke-width: 3.12px;
    stroke-dashoffset: 29.78334;
    stroke-dasharray: 29.78334;
    transition: stroke-dashoffset .18s cubic-bezier(0.4, 0, 0.6, 1);
  }

  &_label {
    margin: 0;
    padding-left: 2 * $base-line;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .checkbox--sm ~ & {
      padding-left: 12px;
      font-size: 12px;
      letter-spacing: .05em;
    }
  }
}

// Select
.select {
  position: relative;
  display: inline-flex;
  color: inherit;

  &:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    border-top: 0.375em solid currentColor;
    pointer-events: none;
  }

  &_input {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 4px 25px 4px 0;
    font-size: 14px;
    color: inherit;
    border: none;
    border-bottom: 1px solid $border-color;
    appearance: none;

    &:focus {
      color: $theme-primary;
      outline: none;
      border-bottom-color: $theme-primary;
    }
    
    option {
      color: $text-primary-on-light;
    }
  }
}