$inactive-color_: rgba(0, 0, 0, .54);
$active-color_: $theme-primary;

.form {
  &_footer {
    display: flex;
    justify-content: flex-end;

    button + button {
      margin-left: 16px;
    }
  }
}

.radio {
  position: relative;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;

  &_control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
    z-index: 1;
  }

  &_background {
    position: relative;
    width: 14px;
    height: 14px;
  }

  &_outer-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,.38);
    transition: border-color .12s;
  }

  &_control:checked ~ &_background &_outer-circle {
    border-color: $theme-primary;
  }

  &_inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $theme-primary;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .12s;
  }  

  &_control:checked ~ &_background &_inner-circle {
    transform: translate(-50%, -50%) scale(1);
  }

  &_label {
    margin: 0;
    padding-left: 12px;
    vertical-align: middle;
  }
}

.checkbox {
  position: relative;
  display: inline-block;
  height: 23px;
  width: 23px;
  padding: 3px;
  
  &--sm {
    height: 19px;
    width: 16px;
    padding: 3px 3px 3px 0;
  }

  &_control {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
    z-index: 1;

    &:checked ~ .checkbox_background {
      border-color: $active-color_;
      background-color: $active-color_;

      .checkbox_checkmark {
        opacity: 1;
      }

      .checkbox_path {
        stroke-dashoffset: 0;
      }
    }

    &:hover ~ .checkbox_background {
      border-color: $active-color_;
    }
  }

  &_background {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 17px;
    width: 17px;
    border: 1px solid $inactive-color_;
    transition: background-color .12s ease-in;

    .checkbox--sm & {
      height: 13px;
      width: 13px;
      left: 0;
    }
  }

  &_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .12s ease-in;
  }

  &_path {
    stroke: #FFF !important;
    stroke-width: 3.12px;
    stroke-dashoffset: 29.78334;
    stroke-dasharray: 29.78334;
    transition: stroke-dashoffset .18s cubic-bezier(0.4, 0, 0.6, 1);
  }

  &_label {
    margin: 0;
    padding-left: 2 * $base-line;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .checkbox--sm ~ & {
      padding-left: 12px;
      font-size: 12px;
      // letter-spacing: .05em;
    }
  }
}

.input-container {
  display: block;
  min-width: 200px;
}

// Select
.select {
  position: relative;
  display: inline-flex;
  color: inherit;

  &_input {
    background-color: transparent;
    width: 100%;
    padding: 4px 20px 4px 4px;
    font-size: 12px;
    font-weight: inherit;
    color: inherit;
    border: none;
    appearance: none;
    outline: none;
  }
}

.select-carrot {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    padding: 0;
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    border-top: 0.375em solid currentColor;
    opacity: .54;
    pointer-events: none;
  }
}

// SelectBox
.select-box {
  display: inline-flex;
  position: relative;
  font-size: 14px;
  color: inherit;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-top: 16px;
  margin-bottom: 8px;
  background-color: rgba($theme-primary, .12);

  &_input {
    width: 100%;
    height: 44px;
    padding: 12px 24px 0 16px;
    background-color: transparent;
    border: 0;
    appearance: none;
    outline: none;
  }
}

.text-input {
  font-size: 14px;
  padding: 8px 16px;
  margin-bottom: 2 * $base-line;
  background-color: rgba($theme-primary, .12);
  border: 0;

  &:focus {
    outline: 1px solid $theme-primary;
    outline-offset: -1px;
  }
}

// TextField
.text-field {
  font-size: 14px;
  display: inline-flex;
  width: 100%;
  height: 44px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
  margin-bottom: 8px;
  background-color: rgba($theme-primary, .12);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  &_input {
    width: 100%;
    padding: 12px 16px 0;
    border: 0;
    background: transparent;
    outline: none;
    transition: background-color .12s;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

// FloatLabel
.float-label {
  position: absolute;
  left: 16px;
  bottom: 15px;
  margin: 0;
  z-index: 1;
  line-height: 1.15;
  line-height: 1;
  font-weight: $font-weight-medium;
  color: $text-secondary-on-light;
  transform-origin: top left;
  transition: transform .12s, color .12s;
  will-change: transform;
  pointer-events: none;

  .required &::after {
    content: "*";
  }

  .focus & {
    color: $theme-primary;
  }

  .float & {
    transform: translateY(-50%) scale(.75);
  }

  .error & {
    color: $theme-error !important;
  }
}

// RippleLine
.ripple-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: $theme-primary;
  opacity: 0;
  transform: scale(0);
  transition: transform .12s, opacity .12s;
  will-change: transform, opacity;

  .error & {
    background: $theme-error !important;
    opacity: 1;
    transform: scale(1);
  }

  .focus & {
    opacity: 1;
    transform: scale(1);
  }
}

// Focusable
.focusable {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $theme-primary;
    opacity: 0;
    will-change: opacity;
    // transition: opacity .12s;
    z-index: 1;
    pointer-events: none;
  }

  &:hover::after {
    opacity: .06;
  }

  &.focus::after {
    opacity: .12;
  }
}

// HelperText
.helper-text {
  font-size: .75rem;
  line-height: 1.25rem;
  font-weight: $font-weight-normal;
  letter-spacing: .03333em;
  text-decoration: inherit;
  text-transform: inherit;
  margin: 0 16px 8px;

  .error + & {
    color: $theme-error !important;
  }
}
