.grid {
  display: flex;
}

.column {
  padding-left: $column-paddings;
  padding-right: $column-paddings;
  width: 100%;
  flex-shrink: 0;

  @include media-breakpoint-up(md) {
    width: $grid-gutter-width + 300px;
  }
}