.image {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--square {
    padding-top: get-padding-from-ratio();
  }

  &--standard {
    padding-top: get-padding-from-ratio(4, 3);
  }

  &--wide {
    padding-top: get-padding-from-ratio(16, 9);
  }

  &--ultra-wide {
    padding-top: get-padding-from-ratio(21, 9);
  }

  &--portrait {
    padding-top: get-padding-from-ratio(3, 4);
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
  }
}