.image {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--square {
    padding-top: 100%;
  }

  &--standard {
    padding-top: 75%;
  }

  &--wide {
    padding-top: 56.25%;
  }

  &--ultra-wide {
    padding-top: 42.857%;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
  }
}