$spacer: 8px;

.image-box {
  display: flex;
  flex-direction: column-reverse;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  &_thumbnails {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    margin-left: -($spacer / 2);
    margin-right: -($spacer / 2);
    // margin-bottom: $spacer;
    
    @include media-breakpoint-up(lg) {
      // width: 120px;
      width: 18.84%;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  }

  &_thumbnail {
    flex-shrink: 0;
    width: 25%;
    padding: 0 ($spacer / 2);
    
    img {
      opacity: .5;
      transition: opacity .12s;
      will-change: opacity;
    }

    &:hover img,
    img.active {
      opacity: 1;
    }

    @include media-breakpoint-up(lg) {
      width: 100%;
      margin-bottom: $spacer;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &_image {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    margin-bottom: $spacer;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      margin-left: $spacer; 
    }
  }

  &_zoom {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    background: transparent;
    z-index: 2;
    cursor: zoom-in;
    
    @include media-breakpoint-up(md) {
      left: 0;
      right: auto;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .12s;
      
      &:hover {
        opacity: .6;
      }
    }
  }

  &_zoom-icon {
    color: #000;

    @include media-breakpoint-up(md) {
      color: #FFF;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .loading {
    display: flex;
    flex-wrap: nowrap;
  }

  &_image-wrap {
    // position: relative;
    // overflow: hidden;
    .loading & {
      flex-shrink: 0;
      width: 100% !important;
      max-width: none;
    }

    @include media-breakpoint-down(md) {
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &_controls {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &_arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);

    &:disabled {
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}