$spacer: 8px;

.image-box {
  display: flex;
  flex-direction: column-reverse;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  &_thumbnails {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -($spacer / 2);
    margin-right: -($spacer / 2);
    // margin-bottom: $spacer;
    
    @include media-breakpoint-up(lg) {
      // width: 120px;
      width: 18.84%;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  }

  &_thumbnail {
    flex-shrink: 0;
    width: 25%;
    padding: 0 ($spacer / 2);
    
    img {
      opacity: .5;
      transition: opacity .12s;
      will-change: opacity;
    }

    &:hover img,
    img.active {
      opacity: 1;
    }

    @include media-breakpoint-up(lg) {
      width: 100%;
      margin-bottom: $spacer;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    > .image {
      border: 1px solid $border-color;
    } 
  }

  &_image {
    flex-grow: 1;
    margin-bottom: $spacer;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      margin-left: $spacer; 
    }
  }
}