.masthead {
  position: relative;
  overflow: hidden;

  &_title {
    margin-top: 0;
  }

  &_action-box {
    width: 100%;
    text-align: center;

    @include media-breakpoint-down(sm) {
      padding: (4 * $base-line) 0;
    }

    @include media-breakpoint-up(md) {
      width: 50%;
      text-align: left;

      &--center {
        margin-left: auto;
        margin-right: auto;
      }

      &--left {
        width: 50%;
        margin-right: auto;
      }

      &--right {
        width: 50%;
        margin-left: auto;
        text-align: right;
      }
    }
  }
}

$_HOMEPAGE_IMAGE_HEIGHT: 300px;
.masthead-image {
  &--homepage {
    padding-top: $_HOMEPAGE_IMAGE_HEIGHT;
  }

  @include media-breakpoint-down(md) {
    padding-top: 300px;
  }

  img {
    width: auto;
    height: 100%;
  }
}

.masthead-carousel {
  padding: 0;

  &.is-loading {
    display: flex;
    flex-wrap: nowrap;
  }

  &.has-loaded {
    .masthead_label,
    .masthead_title,
    .masthead_desc,
    .masthead_action {
      opacity: 0;
      transform: translateY(64px);
      transition: opacity .12s, transform .12s;
    }

    .active {
      .masthead_label,
      .masthead_title,
      .masthead_desc,
      .masthead_action {
        opacity: 1;
        transform: translateY(0);
      }

      .masthead_label {
        transition: opacity .38s .2s, transform .38s .2s;
      }

      .masthead_title {
        transition: opacity .38s .28s, transform .38s .28s;
      }
  
      .masthead_desc {
        transition: opacity .38s .36s, transform .38s .36s;
      }

      .masthead_action {
        transition: opacity .38s .42s, transform .38s .42s;
      }
    }
  }

  &_item {
    position: relative;
    min-width: 100%;

    .has-loaded & {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        content: "";
        background-color: rgba(255, 255, 255, .5);
        opacity: 1;
        transition: opacity .12s;
      }
    }

    &.active::after {
      opacity: 0;
      pointer-events: none;
    }
  }

  &_content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: (2 * $base-line) (2 * $base-line);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: $text-primary-on-dark;

    a {
      color: inherit;
    }

    @include media-breakpoint-up(md) {
      padding: (2 * $base-line) (4 * $base-line);
    }

    @include media-breakpoint-up(lg) {
      padding: (2 * $base-line) (8 * $base-line);
    }
  }

  &_content--homepage {
    color: $text-primary-on-light;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 64px;
      width: 100%;
      height: 100%;
      z-index: 1;
      
      .light-context & {
        color: $text-primary-on-dark;
        text-shadow: 0 1px 2px rgba(0,0,0,.3);
      }
    }
  }
}

.masthead-carousel-controls {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  transform: translateX(-50%);
  z-index: 1;

  &_container {
    position: relative;
    height: 100%;
  }
}

.masthead-carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border: 0;
  padding: 0;
  background-color: white;
  pointer-events: auto;

  .no-controls & {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  // hide controls on small devicees
  @include media-breakpoint-down(sm) {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  &:focus {
    outline: 3px solid rgba(255, 255, 255, .5);
  }

  &--prev {
    left: (2 * $base-line);
  }

  &--next {
    right: (2 * $base-line);
  }

  .arrow {
    color: $theme-primary;
  }
}