.menu-toggler {
  position: fixed;
  top: 16px;
  left: 10px;
  z-index: 3;

  @include media-breakpoint-up(sm) {
    left: 18px;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.menu-icon {
  pointer-events: none;
  position: relative;
  width: 18px;
  height: 12px;
  transition: transform .21s ease-in-out;

  & > span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    transition: transform .21s ease-in-out;
    will-change: transform;
    background-color: $text-primary-on-light;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 5px;
    }

    &:nth-child(4) {
      top: 10px;
    }
  }

  [aria-expanded=true] & {
    transform: rotate(90deg);

    & > span {
      &:nth-child(1) {
        transform: translateY(5px) scaleX(0);
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        transform: translateY(-5px) scaleX(0);
      }
    }
  }
}

// Temp lol
.mega-menu {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  will-change: opacity;

  .nav_item:hover & {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }

  &_scrim {
    background: #000;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
  }

  &_content {
    width: 100%;
    min-height: 280px;
    min-height: 426px;
    background: #FFF;
    box-shadow: 0 2px 2px rgba(0,0,0,.12);
    display: flex;
  }

  &_row {
    display: flex;
  }

  &_col {
    width: 20%;
  }
}

// Temp LOL!
.menu-list {
  display: flex;
  flex-direction: column;
  padding: 16px 0;

  &_item {
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: $font-weight-medium;
    padding: 8px 16px;
    display: inline-flex;
    align-items: center;
  }
}

// Demo
.demo-img-box {
  width: 100%;
  padding: 16px;
  position: relative;
}
.demo-img {
  width: 100%;
  padding-top: (390/753) * 100%;
  margin: 0;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%);
  }
}
.demo-something {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 46px;
  color: #FFF;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0 1px 2px rgba(0,0,0,.12);
}
