.nav {
  display: none;
  justify-content: center;
  border-top: 1px solid $border-color-dark;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  &_link {
    position: relative;
    display: inline-flex;
    padding: (2 * $base-line) $base-line;
    text-transform: uppercase;
    color: $text-primary-on-light;
    outline: none;

    @include media-breakpoint-up(lg) {
      padding: 2 * $base-line;
    }

    &:hover {
      color: currentColor;
      text-decoration: none;
    }

    &::before {
      position: absolute;
      top: -1px;
      left: 50%;
      display: block;
      height: 2px;
      width: calc(100% - #{4 * $base-line});
      transform: translateX(-50%);
      content: "";
      background-color: $theme-secondary;
      opacity: 0;
      transition: opacity .12s;
    }

    &:hover::before,
    &:focus::before,
    &--active::before {
      opacity: 1;
    }
  }
}