.newsletter {
  text-align: center;
  width: 100%;
  max-width: 32 * $base-line;
  padding: 4 * $base-line 0;

  &_title {
    font-size: 18px;
    text-transform: uppercase;
  }

  &_form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 2 * $base-line;
    }

    button[type="submit"] {
      width: 100%;
    }
  }
}