.pagination-container {
  margin-bottom: 4 * $base-line;
  display: block;
  text-align: right;
  border-bottom: 1px solid $border-color-dark;
}

.pagination {
  display: inline-flex;
  list-style: none;
  margin: 0;

  &--right {
    justify-content: flex-end;  
  }
}

.page-item {
  font-size: 12px;
  line-height: 18px;

  &.disabled {
    display: none;
  }

  &.active {    
    .page-link {
      color: $text-primary-on-primary;
      font-weight: 500;
      background: $theme-primary;
    }
  }
}

.page-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;

  &:focus,
  &:hover {
    // outline: 3px solid lighten($theme-secondary, 21%);
    background: rgba(0,0,0,.12);
  }
}