.shop-grid {
  display: grid;
  grid-gap: $grid-gutter-width;
  grid-template-columns: 1fr 1fr;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(4, 1fr);
  }

  &--shop {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.shop-item {
  display: block;
  position: relative;
  margin-bottom: 4 * $base-line;

  &_image {
    overflow: hidden;
    border: 1px solid $border-color-dark;
    background-color: #fff;
  }

  &_content {
    margin-top: 3 * $base-line;
    font-size: 1.067em;
  }

  &_name {
    overflow: hidden;
    max-height: 2 * 1.5em;
    text-transform: uppercase;
  }

  &_brand {
    color: $text-secondary-on-light;
    font-size: 0.878em;
    margin-bottom: $base-line;
  }

  &_price-tag {
    &::after {
      display: inline;
      content: "RSD";
    }

    &--invalid {
      color: $text-secondary-on-light;
      text-decoration: line-through;
      margin-right: $base-line;
    }
  }

  &_discount-tag {
    position: absolute;
    top: 2 * $base-line;
    right: 2 * $base-line;
    padding: 2px 8px;
    background-color: $theme-secondary;
    color: $text-primary-on-secondary;
    border-radius: 50px;
    z-index: 1;

    &::after {
      content: "%";
    }
  }
}