.shop-item {
  &_image {
    overflow: hidden;
    border: 1px solid $border-color-dark;
  }

  &_content {
    margin-top: 3 * $base-line;
    font-size: 1.067em;
  }

  &_name {
    overflow: hidden;
    max-height: 2 * 1.5em;
    text-transform: uppercase;
  }

  &_brand {
    color: $text-secondary-on-light;
    font-size: 0.878em;
    margin-bottom: $base-line;
  }

  &_price {

  }
}