.shop-grid {
  display: grid;
  grid-gap: $grid-gutter-width;
  grid-template-columns: 1fr 1fr;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(4, 1fr);
  }

  &--shop {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.shop-item {
  display: block;
  margin-bottom: 4 * $base-line;

  &:focus {
    .shop-item_actions {
      opacity: 1;
    }
  }

  &:hover {
    .shop-item_actions {
      opacity: 1;
    }
  }

  &_container {
    display: flex;
    flex-direction: column;

    &--horizontal {
      flex-direction: row;
    }
  }

  &_presentation {
    position: relative;

    .shop-item_container--horizontal & {
      // flex-grow: 1;
      flex-shrink: 0;
      width: 50%;
      min-width: 16 * $base-line;
      margin-right: $column-paddings;
    }
  }

  &_image {
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }

  &_alt-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity .12s;

    .shop-item_presentation:hover & {
      opacity: 1;
    }
  }

  &_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    margin-top: $base-line;

    .shop-item_container--horizontal & {
      margin-top: 0;
      justify-content: center;
    }
  }

  &_name,
  &_brand {
    text-align: center;
  }

  &_name {
    overflow: hidden;
    max-height: 2 * 1.5em;
    text-transform: uppercase;
  }

  &_brand {
    color: $text-secondary-on-light;
    font-size: 12px;
    margin-bottom: $base-line;
  }

  &_price {
    font-weight: $font-weight-medium;
  }

  &_price-tag {
    &--invalid {
      color: $text-hint-on-light;
      text-decoration: line-through;
    }
  }

  &_actions {
    display: block;
    position: absolute;
    top: $base-line;
    left: $base-line;
    width: 32px;
    height: 32px;
    z-index: 2;
    opacity: 1;

    @include media-breakpoint-up(md) {
      top: 2 * $base-line;
      left: 2 * $base-line;
      opacity: 0;
    }
  }

  &_action-btn {
    margin-bottom: $base-line;
    color: $text-secondary-on-light;

    &:hover {
      color: $text-primary-on-light;
    }
  }

  &_discount-tag {
    position: absolute;
    top: $base-line;
    right: $base-line;
    padding: 2px 8px;
    background-color: $theme-secondary;
    color: $text-primary-on-secondary;
    border-radius: 50px;
    z-index: 2;
    font-size: 12px;

    @include media-breakpoint-up(md) {
      top: 2 * $base-line;
      right: 2 * $base-line;
    }

    &::after {
      content: "%";
    }
  }
}