.toast-container {
  position: fixed;
  padding: $base-line * 2;
  width: 100%;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 100;
}

.toast {
  transition: opacity .24s ease-in;
  font-weight: $font-weight-light;
  width: 100%;
  margin-top: $base-line * 2;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;

  &_content {
    padding: $base-line * 2 $base-line * 3;
    background: rgba(0, 0, 0, 0.7);
    background: $theme-primary;
    color: #FFF;
    display: inline;
    // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }

  &--dismissed {
    opacity: 0;
  }
}