@mixin nav-link() {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: $font-weight-normal;
  color: $text-primary-on-light;
  text-decoration: none !important;
  outline: none;
  cursor: pointer;
}
