.with-trunk {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1.5em;
    width: 50%;
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
  }
}

.with-flare {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    pointer-events: none;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .21), rgba(255, 255, 255, 0));
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-200%,0);
    // transition: transform .6s;
  }

  &:hover::after,
  &:focus::after {
    transition: transform 1s;
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,200%,0);
  }
}

.with-border {
  border-bottom: 1px solid $border-color-dark;
}

.with-scrim {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    pointer-events: none;
    background: rgba(0,0,0,0.4);
    z-index: 1;
  }
}

.fade-in {
  animation: fade-in .3s;
}

@keyframes fade-in {
  from { opacity: 0; }
}

.no-link {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.collapse--md {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.collapse--lg {
  @include media-breakpoint-up(lg) {
    display: none !important;
  }
}

.expand--md {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.expand--lg {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.py-1 {
  padding-top: $base-line;
  padding-bottom: $base-line;
}

.with-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $theme-primary;
  }
}
