$font-family-playfair-display: 'Playfair Display', serif;
$font-family-roboto: 'Roboto', sans-serif;

$font-family-sans-serif: $font-family-roboto;

$text-primary-on-light: rgba(0, 0, 0, .87);
$text-secondary-on-light: rgba(0, 0, 0, .54);
$text-hint-on-light: rgba(0, 0, 0, .38);
$text-primary-on-dark: rgba(255, 255, 255, 1);
$text-secondary-on-dark: rgba(255, 255, 255, .7);
$text-hint-on-dark: rgba(255, 255, 255, .5);

$navy: #131b24;
$gold: #c69c6d;

$theme-primary: $navy;
$theme-secondary: $gold;

$base-line: 7.5px;
$column-paddings: 2 * $base-line;

$column-width: 300;
$grid-gutter-width: 2 * $column-paddings;

// helper function
@function get-container-width($n, $width: $column-width, $gutter: $grid-gutter-width) {
  $w: $n * ($width + $gutter);
  @return $w;
}

@function get-breakpoints($n, $width: $column-width, $gutter: $grid-gutter-width) {
  $w: $n * ($width + $gutter) + $gutter;
  @return $w;
}

$grid-breakpoints: (
  xs: 0,
  sm: get-breakpoints(1),
  md: get-breakpoints(2),
  lg: get-breakpoints(3)
);

$container-max-widths: (
  sm: get-container-width(1),
  md: get-container-width(2),
  lg: get-container-width(3)
);

$border-radius: 2px;