$navy: #131b24;
$gold: #BC8F5C;

$theme-primary: $navy;
$theme-secondary: $gold;
$theme-primary--light: lighten($theme-primary, 85%);

$font-family-playfair-display: 'Lora', serif;
$font-family-roboto: 'Montserrat', sans-serif;

$font-family-header: $font-family-playfair-display;
$font-family: $font-family-roboto;

$text-primary-on-light: rgba(0, 0, 0, .87);
$text-secondary-on-light: rgba(0, 0, 0, .54);
$text-hint-on-light: rgba(0, 0, 0, .38);
$text-primary-on-dark: rgba(255, 255, 255, 1);
$text-secondary-on-dark: rgba(255, 255, 255, .7);
$text-hint-on-dark: rgba(255, 255, 255, .5);

$text-primary-on-primary: $text-primary-on-dark;
$text-secondary-on-primary: $text-secondary-on-dark;
$text-hint-on-primary: $text-hint-on-dark;
$text-primary-on-secondary: $text-primary-on-dark;
$text-secondary-on-secondary: $text-secondary-on-dark;
$text-hint-on-secondary: $text-hint-on-dark;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

$font-size-display-1: 3.157em;
$font-size-display-2: 2.369em;
$font-size-display-3: 1.777em;
$font-size-display-4: 1.333em;
// $font-size-display-4: 16px;


$border-color-dark: rgba(0, 0, 0, .12);
$border-color-dark: #CCC;
$border-color-light: rgba(255, 255, 255, .12);

$border-radius: 2px;

$base-line: 7.5px;
$base-line: 8px;
$column-paddings: 2 * $base-line;

$column-width: 300px;
$grid-gutter-width: 2 * $column-paddings;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: get-breakpoints(2, $column-width, $grid-gutter-width),
  lg: get-breakpoints(3, $column-width, $grid-gutter-width)
);

$container-max-widths: (
  sm: (480 - $grid-gutter-width),
  md: get-container-width(2, $column-width, $grid-gutter-width),
  lg: get-container-width(3, $column-width, $grid-gutter-width)
);