$font-family-playfair-display: 'Playfair Display', serif;
$font-family-roboto: 'Roboto', sans-serif;

$font-family-header: $font-family-playfair-display;
$font-family: $font-family-roboto;

$text-primary-on-light: rgba(0, 0, 0, .87);
$text-secondary-on-light: rgba(0, 0, 0, .54);
$text-hint-on-light: rgba(0, 0, 0, .38);
$text-primary-on-dark: rgba(255, 255, 255, 1);
$text-secondary-on-dark: rgba(255, 255, 255, .7);
$text-hint-on-dark: rgba(255, 255, 255, .5);

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

$navy: #131b24;
$gold: #c69c6d;

$theme-primary: $navy;
$theme-secondary: $gold;

$border-color-dark: rgba(0, 0, 0, .12);
$border-color-light: rgba(255, 255, 255, .12);

$border-radius: 2px;

$base-line: 7.5px;
$base-line: 8px;
$column-paddings: 2 * $base-line;

$column-width: 300px;
$grid-gutter-width: 2 * $column-paddings;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: get-breakpoints(2, $column-width, $grid-gutter-width),
  lg: get-breakpoints(3, $column-width, $grid-gutter-width)
);

$container-max-widths: (
  sm: (480 - $grid-gutter-width),
  md: get-container-width(2, $column-width, $grid-gutter-width),
  lg: get-container-width(3, $column-width, $grid-gutter-width)
);