#header {
  background-color: white;
}

.header {
  border-bottom: 1px solid $border-color-dark;
  
  &_content {
    text-align: center;
    padding: (3 * $base-line) 0;

    @include media-breakpoint-up(md) {
      padding: (4 * $base-line) 0;
    }
  }

  .logo {
    fill: $theme-secondary;
    color: $theme-primary;
  }
}
