#header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  will-change: position;

  @include media-breakpoint-up(md) {
    position: static;
  }
}

.header {
  border-bottom: 1px solid $border-color-dark;
  height: 8 * $base-line;

  @include media-breakpoint-up(md) {
    height: 10 * $base-line;
  }
  
  &_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include media-breakpoint-down(md) {
      min-width: 100%;
    }
  }

  .logo {
    fill: $theme-secondary;
    color: $theme-primary;
    width: 100%;
  }

  .logo-wrap {
    display: inline-block;
    width: 180px;

    @include media-breakpoint-up(md) {
      width: 240px;
    }
    
    @include media-breakpoint-up(lg) {
      width: 300px;
    }
  }

  &_social {
    position: absolute;
    left: 2 * $base-line;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}
