#header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  will-change: position;

  @include media-breakpoint-up(md) {
    position: static;
  }
}

.header {
  display: flex;
  align-items: center;
  // justify-content: center;
  border-bottom: 1px solid $border-color-dark;
  height: 8 * $base-line;

  @include media-breakpoint-up(md) {
    height: 10 * $base-line;
  }
  
  &_content {
    position: relative;
    text-align: center;

    @include media-breakpoint-down(md) {
      min-width: 100%;
    }
    // padding: (3 * $base-line) 0;

    // @include media-breakpoint-up(md) {
      // padding: (4 * $base-line) 0;
    // }
  }

  .logo {
    fill: $theme-secondary;
    color: $theme-primary;
  }

  &_social {
    position: absolute;
    top: -5px;
    display: none;

    @include media-breakpoint-up(sm) {
      top: 3px;
    }
    
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}
